@import 'assets/scss/colors';
@import 'assets/scss/container';
@import 'assets/scss/small--reponsive';
*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: $white;
}
html{
    font-size: 62.25%;
    @include small--smartphone{
        font-size: 52.25%;
    }
    body{
        background-color: $bg--color;
        font-size:1.25rem;
    }
}
