@import './small--reponsive';
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .card--area{
        background-color: $bg--card;
        border-radius: 2.5rem;
        padding: 2.4rem;
        width: 40rem;
        @include small--smartphone{
            width: 32rem;
        }
        .nft--apresentation{
            display: flex;
            flex-direction: column;
            .main--image{
                position: relative;
                .image--aaa{
                    img{
                        display: block;
                        width: 35rem;
                        border-radius: 1.5rem;
                        align-self: center;
                        @include small--smartphone{
                            width: 27.5rem;
                            align-self: center;
                        }
                    }
                }
                .image--hover{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: 0.70s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1.5rem;
                    img{
                        opacity: 0;
                        transition: 0.70s;
                    }
                    top: 0;
                    &:hover{
                        img{
                            opacity: 100;
                        }
                        display: flex;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 255, 247, 0.25%);
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }
            h1{
                margin-top: 2rem;
                transition: 0.45s;
                &:hover{
                    color: $cyan;
                    cursor: pointer;
                }
            }
        }
        .about--us{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 2rem;   
            font-weight: 300;
            p{
                color: $soft--blue;
            }
        }

        .etherum--day{
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid $line--color;
            padding-bottom: 2.5rem;
            .etherum--price span{
                color: $cyan;
            }
            .days--remaining span{
                color: $soft--blue;
            }
        }

        .creator--area{
            display: flex;
            align-items: center;
            img{
                width: 15%;
                border: 2.5px $white solid;
                border-radius: 50%;
            }
            .creator--desc{
                font-size: 1.8rem;
                font-weight: 300;
                margin-left: 2rem;
                p{
                    color: $soft--blue;
                }
                span{
                    font-weight: 600;
                    color: $white;
                    transition: 0.45s;
                    &:hover{
                        color: $cyan;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}